{% extends "layout.html" %}

{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='apology.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='goodbye.css') }}">



{% endblock %}

{% block content %}

<h2>You have successfully logged out!</h2>

    <ul class="navbar">
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
    </ul>

    



{% endblock %}