{% extends "layout.html" %}

{% block head %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <ul class="navbar">
        <li><a href="/logout">Log out</a></li>
    </ul>

    <h2>Search by title, author or ISBN:</h2>

    <form class="form-inline" action="/search" method="post">
        <div class="search">
            <input class="form-control form-control-lg" type="text" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>    
        <!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="radio" name="options" value="isbn" autocomplete="off"> ISBN
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" value="title" autocomplete="off"> Title
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="options" value="author" autocomplete="off"> Author
            </label>
          </div> -->


    </form>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}
    
